form{
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap:1rem;
  width:50%;
  margin: 0 auto;
  
}
button{
  width:7rem;
  margin: 0 auto;
}
input{
  margin: 0 auto;
  text-align: center;
}
.projects h1{
text-align: center;
}
textarea{
  text-align: center;
  padding-top: 2rem;
}
.images_container{
  display: flex;
  justify-content: center;
  gap:2rem;
  text-align: center;
  justify-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}
img{
  width:30rem;
  height: 20rem;
}