@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

* {
   box-sizing: border-box;
}

.home {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.title {
   text-align: center;
   font-family: "Fredoka One", cursive;
   padding: 1rem;
   font-weight: 200;
   margin-top: 3rem;
}

.projects-outer-container{
   position: relative;
}

.project {
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid lightgray;
   padding: 1rem;
}

.project:hover,
.suggestion:hover {
   cursor: pointer;
   color: inherit;
   box-shadow: 0px 0px 2px 3px lightgrey;
   -webkit-box-shadow: 0px 0px 2px 3px lightgray;
   -moz-box-shadow: 0px 0px 2px 3px lightgray;
}

.project-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   max-height: 300px;
}

.pagination{
   display: flex;
   margin: 1rem 0;
   border: none;
   font-size: .8rem;
}

.suggestions {
   position: absolute;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 80vw;
   top: -20px;
   left: 50%;
   transform: translateX(-50%);
   background-color: white;
   border-bottom: .5px solid lightgrey;
}

.hidden {
   display: none;
}

.searchbar {
   margin: 0 0 3rem 0;
   border: 1px lightgray solid;
   font-size: 1.2rem;
   padding: 0.5rem;
   text-align: center;
}

.suggestion {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 1.2rem;
   padding: 1rem;
   cursor: pointer;
   border: 1px solid lightgrey;
   border-bottom: .5px;
}

.search-img {
   width: 45px;
   height: 25px;
}

h4{
   margin-top: 1.5rem;
}


@media (min-width: 750px){

   .projects-inner-container{
      height: fit-content;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
   }

   .pagination {
      font-size: 1rem;
   }

}

@media (min-width: 640px) and  (max-width:900px){
   .suggestions{
      width: 60vw;
   }
}

@media (min-width: 900px){
   .suggestions{
      width: 30vw;
   }
}